@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* background and fonts */
.main-colors {
  /* color: #9fe1f8; */
  /* background-color: #0e0b10; */
  /* background-color: #2f2536; */
}

.font-color {
  color: #016347;
}

body {
  font-family: 'Playfair Display', serif !important;
  font-style: normal;
}

.contact-links:hover {
  background-color: #016347;
  color: black;
}